<div class="grid flex-column h-full p-3">
  <!-- BANNER -->
  <div class="col-12">
    <p-image
      src="https://t4.ftcdn.net/jpg/02/36/95/59/360_F_236955957_OEqpRqNjanfak01le5SiEiPU776glr30.jpg"
      alt="Image"
      width="100%"
      height="150"
      imageClass="border-round"
    />
  </div>
  <div class="col-12">
    <div class="grid">
      <div class="col-4 flex flex-align-center justify-content-center">
        <div class="">
          <p-image
            src="https://es.web.img2.acsta.net/pictures/14/03/25/09/25/346980.jpg"
            alt="Image"
            width="300"
            imageClass="border-round"
          />
          <div class="text-center">JURASSIC PARK</div>
        </div>
      </div>
      <div class="col-4 flex flex-align-center justify-content-center">
        <div class="">
          <p-image
            src="https://i.pinimg.com/564x/05/15/a4/0515a44b34e88806a7e9ea7118a1b42a.jpg"
            alt="Image"
            width="300"
            imageClass="border-round"
          />
          <div class="text-center">JURASSIC PARK II</div>
        </div>
      </div>
      <div class="col-4 flex flex-align-center justify-content-center">
        <div class="">
          <p-image
            src="https://images.cdn3.buscalibre.com/fit-in/360x360/14/1d/141d2c398e0e0d5d3723809a898b7f52.jpg"
            alt="Image"
            width="300"
            imageClass="border-round"
          />
          <div class="text-center">JURASSIC PARK III</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 flex-1 justify-content-center align-content-center">
    <!-- footer -->
    <div class="text-center">TIENDA DE PELICULAS</div>
    <div class="text-center">contacto&#64;peliculas.com.mx</div>
    <div class="text-center">4771640325</div>
  </div>
</div>
