<p-dialog
  [header]="titulo"
  [modal]="true"
  [closable]="true"
  [closeOnEscape]="true"
  [(visible)]="display"
>
  <div class="field">
    <label for="nombre">NOMBRE</label>
    <input
      pInputText
      [(ngModel)]="cliente.nombre"
      id="nombre"
      type="text"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="field">
    <label for="correo">CREDITO</label>
    <input
      pInputText
      [(ngModel)]="cliente.credito"
      id="correo"
      type="number"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="field grid gap-1 justify-content-center">
    <button
      pButton
      [label]="btnLabel"
      (click)="actualizar ? actualizarCliente() : guardarCliente()"
      onkeypress=""
    ></button>
    <p-button (click)="hide()" onkeypress="" label="CERRAR"></p-button>
  </div>
</p-dialog>
