<div class="grid m-0">
  <div class="col-2">
    <div class="overflow-hidden">
      <div
        class="border-round bg-cover bg-center bg-no-repeat border-round h-10rem w-full"
        style="
          background-image: url('https://cdn-3.expansion.mx/dims4/default/dd95902/2147483647/strip/true/crop/1000x600+0+0/resize/1200x720!/quality/90/?url=https%3A%2F%2Fcdn-3.expansion.mx%2F9b%2F24%2F888b85b14b3292c4e71938a5b625%2Fcinepolis-klic.jpg');
          border-radius: 0 0 1rem 1rem;
        "
      ></div>
    </div>
  </div>
  <div class="col-10">
    <div class="grid m-0">
      <div class="col-12 flex-1 align-content-center justify-content-center">
        <div class="text-6xl text-center">
          <kbd>TIENDA DE PELICULAS</kbd>
        </div>
      </div>
      <div class="col-12">
        <p-menubar [model]="opciones" />
      </div>
    </div>
  </div>
</div>
